<html>
    <head>
        {% if title %}
        <title>{{ title }} - Doctor</title>
        {% else %}
        <title>Welcome to Doctor!</title>
        {% endif %}
    </head>
    <body>
        <div>
            Меню: 
            <a href="{{ url_for('index') }}">Запись к врачу</a>
            <a href="{{ url_for('register') }}">Регистрация</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Вход</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Выход</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>